@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
body {
    font-family: 'Lato', sans-serif;
    background-color: #fff;
    background: url(../img/image_top_02.png) no-repeat top left;
    background-size: 100%;
    font-size: 18px;
    color: #301e42;
}
header{
    /*position: fixed;*/
    top: 0;
    width: 100%;
    z-index: 100;
}
.logo {
    width: 100%;
    top: 0;
    z-index: -1;
    color: #301e42;
}
.logo a {
    color: #301e42;
}
.logo img {
    width: 100px;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.navbar-nav {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    align-items: center;
}
.navbar-nav  .nav-link  {
    color: #191970;
    font-size: 15px;
    line-height: initial;
    text-transform: uppercase;
    font-weight: 700;
    padding: 30px 20px !important;
}
.navbar-nav  .nav-link:hover {
    color: #000;
}
.title {
    font-family: 'Otomanopee One', sans-serif;
    font-weight: bold;
    font-size: 5rem;
    letter-spacing: 0.3rem;
}
.title2 {
    font-family: 'Otomanopee One', sans-serif;
    font-weight: bold;
}
.btn {
    font-family: 'Otomanopee One', sans-serif;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.btn-custom {
    background: #f7f5f6;
    border: 5px solid #f51010;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    box-shadow: 6px 6px 13px 0 rgb(0 0 0 / 18%);
    border-radius: 40px 0 40px 0;
}
.btn-custom:hover {
    background: #9191ff;
    border-color: #301e42;
    color: #fff;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    box-shadow: 6px 6px 13px 0 rgb(0 0 0 / 18%);
    border-radius: 0 40px 0 40px;
}
.token{
    background: url(../img/token.png) no-repeat bottom;
    /*min-height: 900px ;*/
}
.team {
   background: url(../img/background_home_3.png) no-repeat top right;
   background-size:100% ;
   min-height:800px;
}
.number {
    background: #9191ff;
    width: 50px;
    height: 50px;
    color: rgb(253, 253, 253);
    border-radius: 100%;
    display: flex;
    font-size: 30px;
    padding: 20px;
    line-height: 30px;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    font-weight: bold;
}
.Timeline {
    list-style: none;
}
.Timeline li {
    position: relative;
    padding-left: 10px;
    margin-bottom: 10px;
}
.Timeline li:before{
    content: "";
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #9191ff;
    border-radius: 100%;
    display: block;
    position: absolute;
    left: -25px;
    top: 5px;
}
.Timeline li.active:before{
    background: #ff0037;
}
.social {
    border: 3px solid #565656;
    padding: 10px 15px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    color: #565656;
}
.social:hover {
    background: #301e42;
    border-color: #301e42;
    color: #fff;
}
@media (max-width: 768px) {
    .navbar-nav {
        border-top: none;
        border-bottom: none;
    }
    .logo {
        top: -20px;
    }
    .logo img {
        width: 80px;
        margin: 0;
        display: block;
    }
    .navbar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0;
        flex-direction: row;
        align-content: flex-start;
        justify-content: flex-end;
    }
    .navbar-nav {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        align-items: center;
    }
    header {
        padding: 30px 10px;
    }
    .bg-timeline {
        margin-right: -10px;
    }
    .bg-timeline img {
        width: 100%;
    }
    .title {
        font-size: 3rem;
    }
    .home {
        min-height: 650px;
        max-height: inherit;
    }
    .Timeline {
        margin-left: 20px;
    }
}